body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color:#F2F0EF;
    color:#2C5F34
}
h1, h2, h3,h4{
    font-style:italic;
}
.contact-info{
    opacity: 0.9;
    font-style: italic;
}